.contact {
  @include size(100% auto);

  @include breakpoint('medium') {
    height: 100vh;
    overflow: hidden;
  }

  &__content {
    @include position(absolute, 50% null null 50%);
    transform: translate(-50%, -50%);
    //@include size(90% 85%);
    @include size(110%);
    background: url('../images/contact.jpg') center center no-repeat;
    background-size: cover;
    overflow: hidden;
    transition: all 0.8s ease-in-out 0.3s;

    @include breakpoint('medium') {
      background-image: url('../images/contact-large.jpg');
    }
  }

  &__data {
    @include size(100% auto);
    @include padding(80px 60px 60px 30px);
    opacity: 0;
    transition: opacity 0.5s ease-in-out 0.1s;

    @include breakpoint('medium') {
      @include padding(120px 60px null);
    }

    @include breakpoint('large') {
      @include padding(120px 150px null);
    }

    &__title {
      @include padding(null null 40px);

      font-family: $main-font;
      font-size: 45px;
      line-height: 40px;
      color: white;

      @include breakpoint('extra-large') {
        font-size: 60px;
        line-height: 60px;
        letter-spacing: -5px;
      }
    }

    &__content {
      @include breakpoint('large') {
        @include clearfix;
        max-width: 60%;
      }

      p {
        @include padding(null null 15px);

        font-family: $main-font;
        font-size: 14px;
        line-height: 18px;
        color: white;
        text-transform: uppercase;

        @include breakpoint('medium') {
          max-width: 60%;
        }

        @include breakpoint('large') {
          max-width: 100%;
          @include padding(null null 20px);

          font-size: 15px;
          line-height: 22px;
        }
      }

      &__mail {
        @include position(relative, null null null null);
        display: inline-block;

        &:before {
          @include position(absolute, 0 null null 0);
          display: block;
          content: '';
          @include size(0% 100%);
          background: white;
          transition: width 0.3s ease-in-out;
        }

        span {
          @include position(relative, null null null null);
          transition: all 0.3s ease-in-out;
          display: inline-block;
          @include padding(null 0px);
        }

        &:hover {
          &:before {
            @include breakpoint('large') {
              width: 100%;
            }
          }

          span {
            @include breakpoint('large') {
              color: black;
              @include padding(null 5px);
            }
          }
        }
      }
    }
  }

  &.active {
    .contact__content {
      @include size(100%);
    }

    .contact__data {
      opacity: 1;
      transition-delay: 1s;
    }
  }
}
