.work-detail {
  @include position(fixed, 0 null null 0);
  z-index: 9;
  @include size(100% 100vh);
  background: black;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none;

  &--show {
    opacity: 1;
    pointer-events: inherit;
  }

  &__content {
    @include size(100%);
    overflow-y: auto;

    @include breakpoint('large') {
      background: white;
      padding-bottom: 80px;
      //@include position(absolute, calc(50% + 40px) null null 160px);
    }

    &__data {
      background: white;
    }
  }

  &__herospace {
    @include padding(180px 30px 180px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include breakpoint('large') {
      @include position(relative, null null null null);
      height: 50vw;
      padding-left: 130px;
    }

    &__content {
      @include breakpoint('large') {
        @include position(absolute, 50% null null null);
        transform: translateY(-50%);
        padding-right: 50%;
      }
    }

    &__title {
      display: inline;
      background: black;

      font-family: $main-font;
      font-size: 40px;
      line-height: 50px;
      color: white;

      @include breakpoint('large') {
        max-width: 100px;

        font-size: 64px;
        line-height: 74px;
      }
    }

    &__tags {
      @include padding(20px null null);

      &__item {
        display: table;
        @include padding(4px 5px);
        @include margin(null null 4px);
        background: black;

        font-family: $main-font;
        font-weight: 100;
        font-size: 11px;
        line-height: 11px;
        color: white;

        @include breakpoint('large') {
          font-size: 16px;
          line-height: 16px;
        }
      }
    }
  }

  &__text {
    @include padding(30px 30px 40px);

    @include breakpoint('large') {
      @include padding(60px 30px 80px);
    }

    h3 {
      font-family: $main-font;
      font-size: 20px;
      line-height: 24px;
      color: black;
      text-align: center;

      @include breakpoint('large') {
        max-width: 900px;
        @include margin(0 auto);

        font-size: 35px;
        line-height: 39px;
      }
    }

    h4 {
      font-family: $main-font;
      font-size: 18px;
      line-height: 22px;
      color: black;
      text-align: center;

      @include breakpoint('large') {
        max-width: 900px;
        @include margin(0 auto);

        font-size: 20px;
        line-height: 24px;
      }
    }

    p {
      @include padding(30px null null);

      font-family: $secondary-font;
      font-size: 16px;
      line-height: 20px;
      color: black;
      text-align: center;

      @include breakpoint('large') {
        max-width: 900px;
        @include margin(0 auto);

        font-size: 18px;
        line-height: 22px;
      }
    }
  }

  &__image {
    @include size(100% 70vw);
    @include padding(null null 15px);

    @include breakpoint('large') {
      @include size(100% 50vw);
      @include padding(null 80px 25px);
    }

    &__content {
      @include size(100%);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }
}
