.header {
  @include position(fixed, 0 null null 0);
  z-index: 10;
  @include size(100% 60px);

  @include breakpoint('medium') {
    @include size(100% 80px);
  }

  &__content {
    @include position(relative, null null null null);
    @include size(100%);
    @include padding(0 30px);

    &__lg {
      display: none;
      @include position(absolute, 20px null null 30px);
      z-index: 20;

      @include breakpoint('medium') {
        display: block;
        opacity: 1;
        pointer-events: inherit;
        transition: opacity 0.3s ease-in-out;
      }

      &:before {
        font-size: 50px;
        color: white;
        transition: color 0.3s ease-in-out;
      }

      &:hover {
        &:before {
          @include breakpoint('large') {
            color: #ddff00;
          }
        }
      }
    }

    &__hamb {
      display: block;
      @include position(absolute, 31px 37px null null);
      @include size(26px 3px);
      @include margin(8px null);
      background: white;
      transition: background 0.3s ease-in-out;

      &:before {
        content: '';
        display: block;
        @include position(absolute, -8px 0 null null);
        @include size(23px 3px);
        background: white;
        transition: background 0.3s ease-in-out;
      }

      &:after {
        content: '';
        display: block;
        @include position(absolute, 7px 0 null null);
        @include size(15px 3px);
        background: white;
        transition: background 0.3s ease-in-out;
      }

      span {
        @include position(absolute, -8px 0 null null);
        display: block;
        @include size(26px 18px);
      }

      &:hover {
        &:before {
          @include breakpoint('large') {
            animation: hambBefore 0.7s forwards;
          }
        }

        &:after {
          @include breakpoint('large') {
            animation: hambAfter 0.7s forwards;
          }
        }
      }
    }

    &__name {
      @include position(absolute, 50% null null 50%);
      transform: translate(-50%, -50%);
      z-index: 20;

      font-family: $main-font;
      font-size: 10px;
      font-weight: 100;
      color: white;
      text-transform: uppercase;
      letter-spacing: 6px;
      text-align: center;
    }

    &__back {
      display: block;
      @include position(absolute, 30px null null 30px);
      z-index: 10;
      @include size(30px);
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s ease-in-out;

      &:before {
        @include position(absolute, 50% null null 50%);
        transform: translate(-50%, -50%);

        font-size: 20px;
        color: black;
      }
    }
  }
}

.gl-black {
  .header {
    &__content {
      &__lg {
        opacity: 0;
        pointer-events: none;

        &:before {
          color: black;
        }
      }

      &__hamb {
        background: black;

        &:before {
          background: black;
        }

        &:after {
          background: black;
        }
      }

      &__back {
        opacity: 1;
        pointer-events: inherit;
      }
    }
  }
}
